<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar theme-color" role="navigation" aria-label="main navigation">
        <div class="container">                        
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 id="logo"><i class="fa fa-cloud-upload"></i></h1>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="navbar-item" href="/documentation">
                        Documentation
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
      <div class="container">
          <% if (Object.keys(messages).length !== 0) { %>
            <% for(let i = 0, length = Object.keys(messages).length;i < length;i++) { %>
            <div class="notification is-<% if(Object.keys(messages)[i] == 'error') { %><%= 'danger' %><% } else { %><%=Object.keys(messages)[i] %><% } %>">
              <button class="delete"></button>
              <% messages[Object.keys(messages)[i]].forEach((message) => { %>
                -<%- message %><br>
              <% }) %>
            </div>
            <% } %>
          <% } %>
      </div>
      
    </section>

    <section>     
        <div class="container">        
            <div class="columns">
                <div class="column">
                    <div class="content box">
                        <h1>Upload Tool</h1>

                        Thanks for using the upload tool. The purpose of this tool is to validate excel sheets prior to being used on critical results. <br>
                        This tool validates reports based on their perspective file names, headers, as well as the criteria for each row.

                        If you have any feedback, questions or suggestions be sure to send them to Juan.Martinez@Nuance.com.

                        <br>
                        <br>

                        <div class="tabs is-boxed">
                            <ul>
                                <li class="is-active">
                                <a id="tab_1">
                                    <span>OC Upload</span>
                                </a>
                                </li>
                                <li>
                                <a id="tab_2">
                                    <span>Specialist Data Upload</span>
                                </a>
                                </li>
                                <li>
                                <a id="tab_3">
                                    <span>OC External ID Update</span>
                                </a>
                                </li>
                                <li>
                                <a id="tab_4">
                                    <span>OC Device Upload</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="tab-content">
                            <div class="tab-pane is-active" id="tab_1" style="text-align: center;" >
                                OC upload uses the following regexes to verify its data: 
                                <ul>
                                    <li>Critical results ID - <code>^[0-9]{1,9}$</code> -  whole number with a maximun length of 9.</li>
                                    <li>Active - <code>^[0-1]{1}$</code> - whole number between 0 and 1.</li>
                                    <li>FirstName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>LastName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>MiddleName - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>Email (Required) - <code>^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$</code> - Must be a valid email address.</li>
                                    <li>NationalProviderID - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>OfficePhone (Required) - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>ReceiveMessageAs - <code>^[1-3]{1}$</code> - Must be a whole number between 1 and 3.</li>
                                    <li>EnableMobile - <code>^[0-1]{1}$</code> - Must be a whole number between 0 and 1.</li>
                                    <li>Address1 - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>Address2 - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>Address3 - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>City - <code>^[ a-zA-Z]{1,50}$</code> - Must not exceed 50 characters.</li>
                                    <li>State - <code>^[A-Z]{2}$</code> - Must be 2 characters.</li>
                                    <li>Zip - <code>(^\d{5}$)|(^\d{5}-\d{4}$)</code> - Must be 5 digits or 5 digits-4 digits.</li>
                                    <li>Fax (Required) - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>CellPhone - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>Specialty - <code>^[ a-zA-Z]{1,75}$</code> - Must not exceed 75 and can only contain the following characters: A-Z, a-z, 0-9 and space.</li>
                                    <li>PracticeGroup - <code>^[ a-zA-Z]{1,100}$</code> - Must not exceed 75 and can only contain the following characters: A-Z, a-z, 0-9 and space.</li>
                                    <li>HospitalAffiliation - <code>^[ a-zA-Z]{1,100}$</code> - Must not exceed 75 and can only contain the following characters: A-Z, a-z, 0-9 and space.</li>
                                    <li>AdditionalContactName - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>AdditionalContactPhone - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>Pager - <code>^[a-zA-Z]{1,100}$</code> - Must not exceed 100 and can only contain the following characters: A-Z, a-z and 0-9.</li>
                                    <li>RadiologyTDR - <code>^[0-1]{1}$</code> - Must be a whole number between 0 and 1.</li>
                                    <li>LaboratoryTDR - <code>^[0-1]{1}$</code> - Must be a whole number between 0 and 1.</li>
                                    <li>ProfileReturned - <code>^[0-1]{1}$</code> - Must be a whole number between 0 and 1.</li>
                                    <li>ApplicationName - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>ExternalId - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>ExternalIDType - <code>^.{1,100}$</code> - Must not exceed 100 characters.</li>
                                    <li>HospitalFacilityId - <code>Ignored at this time</code> - "All" or "-1" can be used for provider ID that are common to All Facilities.</li>
                                </ul>
                            </div>
                            
                            <div class="tab-pane" id="tab_2">
                                Specialist data upload uses the following regexes to verify its data: 
                                <ul>
                                    <li>FirstName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>LastName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>MiddleName - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>Email (Required) - <code>^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$</code> - Must be a valid email address.</li>
                                    <li>OfficePhone (Required) - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>Fax (Required) - <code>^[0-9]{10}$</code> - Must be a 10 digit number.</li>
                                    <li>Specialty - <code>^[ a-zA-Z]{1,75}$</code> - Must not exceed 75 and can only contain the following characters: A-Z, a-z, 0-9 and space.</li>
                                    <li>Affiliation - <code>^[ a-zA-Z]{1,100}$</code> - Must not exceed 100 and can only contain the following characters: A-Z, a-z, 0-9 and space.</li>
                                    <li>SendOverdueReportByEmail - <code>/^(?:Yes|No)$/i</code> - Must be "Yes" or "No" (Default value-No) - Case insensitive*</li>
                                    <li>SendOverdueReportByFax - <code>/^(?:Yes|No)$/i</code> - Must be "Yes" or "No" (Default value-No) - Case insensitive*</li>
                                    <li>SendOverdueReportsOn - <code>/^(?:Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday)$/i</code> - Select which day or days to send a list of overdue report. Must be comma-Seprated days of the week. Example: Monday,Wednesday,Friday. Case insensitive*</li>
                                    <li>SendOverdueReportsAt - <code>^([01]\d|2[0-3]):?([0-5]\d)$</code> - Time of day to send overdue report list. Must be an hour on the 24-hour clock.</li>
                                    <li>ShowClosedMessagesSince - <code>^[1-9][0-9]?$|^30$</code> - Number of days to look back for closed messages. Must be a number between 1 and 30(Default value- 5 days).</li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="tab_3">
                                OC External ID Update data upload uses the following regexes to verify its data: 
                                <ul>
                                    <li>CriticalResultsID (required) - <code>^[0-9]{1,9}$</code> -  whole number with a maximun length of 9.</li>
                                    <li>FirstName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>LastName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>FacilityID (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters.</li>
                                    <li>ApplicationName (Required) - <code>No check (needs DB Access)</code> - Name of the External application (as found in Institution -> Manage Application).</li>
                                    <li>ExternalID (Required) - <code>No check (needs DB Access)</code> - Value with ExternalIDType combination must not get duplicated with in file or in the system.</li>
                                    <li>ExternalIDType (Required) - <code>No check (needs DB Access)</code> - ID type of the external application exa : HIS ID,LIS ID etc.</li>
                                    <li>Notes - <code>^[ a-zA-Z0-9\,\-\.]{1,250}$</code> - Must not exceed 250 characters and can only contain the following characters: A-Z, a-z, 0-9, commans, hyphen, periods and space.</li>
                                    <li>IsDelete - <code>/^(1)|(Yes)|(True)|(0)|(No)|(False)$/i</code> - Must be one of the following: 1, Yes, True, 0, No, False. (Case Insensitive).</li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="tab_4">
                                OC Device Upload uses the following regexes to verify its data: 
                                <ul>
                                    <li>NotificationDeviceName (Mandatory when Delete (last col) is "Yes") - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>Critical results ID (required) - <code>^[0-9]{1,9}$</code> -  whole number with a maximun length of 9.</li>
                                    <li>FirstName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>LastName (Required) - <code>^[ a-zA-Z\,\-\.]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>DeviceType (Required) - <code>^(Email)|(Fax)|(SMS\(Cell\))|(SMS With Link)|(Pager\-Alpha)|(Pager\-Amcom)|(Pager\-Num\-PageUSA)|(Pager\-Num\-Regular)|(Pager\-Num\-SkyTel)|(Pager\-PartnersPaging)|(Pager\-TAP)|(Pager\-TAP\-Alpha)|(Vocera)|(OB\-Answering Service)|(OB\-Callback Instrutions)|(OB\-Callback Option)|(OB\-Results)$</code> - Must match the values from the excel dropdown</li>
                                    <li>DeviceAddress (Required) - <code>^[0-9]{1,50}$</code> - Must not exceed 50 characters and can only contain the following characters: A-Z, a-z, comma, hyphen, period and space.</li>
                                    <li>Gateway (Required for device types: SMS(Cell) and Pager-Alpha) - <code>No regex</code> Just checks the value of the device type.</li>
                                    <li>Carrier (Required for device types: SMS(Cell) and Pager-Alpha) - <code>No regex</code> Just checks the value of the device type.</li>
                                    <li>FacilityID (Required) - <code>/^([a-zA-Z]{1,50})|(all)$/i</code> - can use the word "All" in this field and make sure this is Facility ID not Facility name at institution level. Character allowed are A-Z, a-z, 0-9.</li>
                                    <li>GroupName (Required) - <code>/^([a-zA-Z]{1,50})|(all)$/i</code> - Can use the word "All" in this field.Group name define for institution. Character allowed are A-Z, a-z, 0-9.</li>
                                    <li>FindingName (Required) - <code>/^([a-zA-Z]{1,50})|(all)$/i</code> - Can use the word "All" in this field.Group name define for institution. Character allowed are A-Z, a-z, 0-9.</li>
                                    <li>NotificationEvent (Required) - <code>/^(Primary)|(Backup)|(Fail\-Safe)$/i</code> - Must be one of the following: Primary, Backup or Fail-Safe. (Case Insensitive).</li>
                                    <li>Delete - <code>/^(Yes)|(No)$/i</code> - Must be one of the following: Yes or No. (Case Insensitive).</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/javascript/main.js"></script>
  </body>
</html>