<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar theme-color" role="navigation" aria-label="main navigation">
        <div class="container">                        
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 id="logo"><i class="fa fa-cloud-upload"></i></h1>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="navbar-item" href="/documentation">
                        Documentation
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
      <div class="container">
          <% if (Object.keys(messages).length !== 0) { %>
            <% for(let i = 0, length = Object.keys(messages).length;i < length;i++) { %>
            <div class="notification is-<% if(Object.keys(messages)[i] == 'error') { %><%= 'danger' %><% } else { %><%=Object.keys(messages)[i] %><% } %>">
              <button class="delete"></button>
              <% messages[Object.keys(messages)[i]].forEach((message) => { %>
                -<%- message %><br>
              <% }) %>
            </div>
            <% } %>
          <% } %>
      </div>
      
    </section>

    <section>     
        <div class="container">        
            <div class="columns">
                <div class="column">
                    <h1 class="title" style="text-align: center;">Upload Tool</h1>
                        
                    <div class="file has-name is-full-width is-centered">
                        <form method="POST" encType="multipart/form-data">
                            <label class="file-label">
                                <input class="file-input" type="file" name="file">
                                <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                                </span>
                                <span class="file-name">
                                    No file selected
                                </span>
                            </label>
                            <div id="input-space"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/javascript/main.js"></script>
  </body>
</html>