$primary-color: rgb(38, 169, 221);
$body-background: white; //rgb(61, 190, 199)

html, body { height: 100%; }

body {
    background: $body-background;
}

.theme-color {
    background: $primary-color;
}

#logo
{
    color: white;
    width: 128px;
    height: 100%;
    font-size: 1.4em;
    vertical-align: middle;
    text-align: left;
}

.navbar-item {
    color: white;
}

.is-floating-left {
    float:left;
}